<tr role="row">
  <td class="text-center">
    <%= show_style_note note.first %>
  </td>
  <td class="text-center">
    <%= l note.second.first.time, format: :short %>
  </td>
  <td class="text-center">
    <%= l note.second.second.time, format: :short %>
  </td>
</tr>
