<tr role="row">
  <td class="text-center">
    <%= show_style_note note.style %>
  </td>
  <td class="text-center">
    <%= l note.start_time, format: :long %>
  </td>
  <td class="text-center">
    <%= l note.end_time, format: :long %>
  </td>
</tr>
