<div class="row text-center d-flex">
  <div class="col-sm-6 col-lg-3 center-block">
    <%= link_to "javascript:void(0)", class: "widget widget-hover-effect2" do %>
      <div class="widget-extra themed-background-dark">
        <h4 class="widget-content-light">
          <strong>
            <%= t "employers.applies.statuses" %>
          </strong>
        </h4>
      </div>
      <div class="widget-extra-full">
        <span class="h2 animation-expandOpen">
          <b>5</b>
        </span>
      </div>
    <% end %>
  </div>
</div>
