<li>
  <p>Môn: <strong><%= remarking.subject_name %></strong>;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Điểm số đạt được: <strong><%= remarking.result_mark %></strong>.</p>
  <p><u>Ghi chú:</u> <i><%= raw remarking.content %></i></p>
</li>
