<tr>
  <td class="col-md-3">
    <strong>
      <i class="fa fa-asterisk"></i> <%= t "#{register.aspiration}" %>
    </strong>
  </td>
  <td class="col-md-5"><%= register.major_name %></td>
  <td class="col-md-4"><%= get_mark_register(register)&.round 1 %>(<%= register.department_name %>)</td>
</tr>
