<div class="col-md-12">
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong><%= t "individual_info" %></strong>
    </div>
    <div class="panel-body" id="info-content">
      <%= render "user_form" %>
    </div>
  </div>
</div>
