<%= form_tag teachers_targets_path, remote: true, method: :get do |f| %>
  <div class="form-group">
      <div class="icon-addon addon-lg">
        <%= select_year 0, {start_year: Date.current.year, end_year: 2010},
          {class: "form-control", name: "year", id: "year-selected"} %>
        <label for="year" class="fa fa-id-badge" rel="tooltip"></label>
      </div>
  </div>
  <%= button_tag :submit, class: "display-none btn-search-year" %>
<% end %>
