<div class="panel panel-default">
  <div class="panel-heading"><%= t "title_remarking_1" %></div>
  <div class="panel-body">
    <p style="text-align: justify;">Thi trắc nghiệm khách quan là một trong những hình thức thi đang được áp dụng triệt để tại kỳ thi THPT quốc gia cũng như các hình thức kiểm tra ở hầu hết các môn. Ngoài ưu điểm của nó thì cũng tồn tại những nhược điểm chung, quy chế kỳ thi THPT quốc gia cũng quy định mọi thí sinh đều có quyền phúc khảo bài thi của mình nếu muốn. Thí sinh&nbsp;<a href="http://thptquocgia.org/"><strong>đăng kỳ&nbsp;thi THPT quốc gia</strong></a>&nbsp;ở đâu thì nộp đơn phúc khảo ở nơi đó.</p>
    <p style="text-align: justify;">Trường Trung học phổ thông, nơi thí sinh đăng ký dự thi, nhận đơn xin phúc khảo của thí sinh trong thời hạn 10 ngày kể từ ngày công bố điểm thi và chuyển dữ liệu thí sinh xin phúc khảo bài thi đến Hội đồng thi.</p>
    <p style="text-align: justify;">Trong thời hạn 15 ngày kể từ ngày hết hạn nhận đơn phúc khảo, Hội đồng thi phải công bố và gửi kết quả phúc khảo cho thí sinh.</p>
    <p style="text-align: justify;">Việc phúc khảo tiến hành theo từng môn thi dưới sự điều hành trực tiếp của Trưởng ban Phúc khảo tại những địa điểm cụ thể được Bộ GD&amp;ĐT ủy quyền.</p>
    <p style="text-align: justify;">Trước khi bàn giao bài thi cho Ban Phúc khảo, Ban Thư ký Hội đồng thi tiến hành các việc sau đây:</p>
    <p style="text-align: justify;">– Tra cứu để từ số báo danh, tìm ra số phách bài thi của thí sinh phúc khảo. Rút bài thi, đối chiếu với Phiếu thu bài để kiểm tra, đối chiếu số tờ giấy thi;</p>
    <p style="text-align: justify;">– Tập hợp các bài thi của một môn thi vào một túi hoặc nhiều túi, ghi rõ số bài thi và số tờ của từng bài thi hiện có trong túi và bàn giao cho Ban Phúc khảo.</p>
    <p style="text-align: justify;">Việc giao nhận bài thi giữa Ban Thư ký Hội đồng thi và Ban Phúc khảo thực hiện theo đúng các quy định.</p>
    <p style="text-align: justify;">– Trong khi tiến hành các công việc liên quan đến phúc khảo phải có ít nhất từ hai người trở lên. Tuyệt đối giữ bí mật về quan hệ giữa số báo danh với số phách và không được ghép đầu phách.</p>
    <p style="text-align: justify;">– Tổ phúc khảo bài thi trắc nghiệm của Ban Phúc khảo có thành phần tương tự như Tổ xử lý bài trắc nghiệm của Ban Chấm thi;</p>
    <p style="text-align: justify;">– Điểm chấm lại của Tổ phúc khảo bài thi trắc nghiệm là điểm thi chính thức của thí sinh trong kỳ thi.</p>
    <p style="text-align: justify;">Điểm các bài thi được điều chỉnh sau phúc khảo do Trưởng ban Phúc khảo trình Chủ tịch Hội đồng thi quyết định và cập nhật điểm của thí sinh sau phúc khảo vào hệ thống phần mềm quản lý thi theo quy định của Bộ GDĐT.</p>
    <p style="text-align: justify;">Chủ tịch Hội đồng thi báo cáo, gửi dữ liệu cho Bộ GD&amp;ĐT, đồng thời công bố và trả kết quả phúc khảo cho thí sinh.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><%= t "title_remarking_2" %></div>

  <div class="panel-body">
    <p>a) Việc phúc khảo mỗi <a href="http://thptquocgia.org/thong-kien-thuc-mon-ngu-van-thi-thpt-quoc-gia-trong-nhay-mat"><strong>bài thi Ngữ văn</strong></a> do 2 cán bộ chấm thi thực hiện theo quy định và phải chấm bằng mực có màu khác với màu mực được dùng chấm trước đó trên bài làm của thí sinh;</p>
    <p>b) Kết quả chấm phúc khảo bài thi tự luận do Ban Thư ký Hội đồng thi xử lý như sau:</p>
    <p style="text-align: justify;">– Nếu kết quả chấm của hai cán bộ chấm phúc khảo giống nhau thì lấy kết quả đó làm điểm phúc khảo và giao bài thi cho hai cán bộ chấm phúc khảo ký xác nhận;</p>
    <p style="text-align: justify;">– Nếu kết quả chấm của hai cán bộ chấm phúc khảo có sự chênh lệch thì rút bài thi giao cho Trưởng ban Phúc khảo tổ chức cho cán bộ thứ ba chấm trực tiếp trên bài làm của thí sinh bằng mực màu khác;</p>
    <p style="text-align: justify;">– Nếu kết quả chấm của hai trong ba cán bộ chấm phúc khảo giống nhau thì lấy điểm giống nhau làm điểm phúc khảo.</p>
    <p style="text-align: justify;">Nếu kết quả chấm của cả ba cán bộ chấm phúc khảo lệch nhau thì Trưởng ban Phúc khảo lấy điểm trung bình cộng của 3 lần chấm làm tròn đến hai chữ số thập phân làm điểm phúc khảo rồi ký tên xác nhận;</p>
    <p style="text-align: justify;">– Bài thi có điểm phúc khảo lệch so với điểm chấm đợt đầu (đã công bố) từ 0,25 điểm trở lên thì được điều chỉnh điểm.</p>
    <p style="text-align: justify;">Trong trường hợp điểm phúc khảo lệch so với điểm chấm đợt đầu từ 0,5 điểm trở lên thì phải tổ chức đối thoại trực tiếp giữa các cán bộ chấm thi đợt đầu và cán bộ chấm phúc khảo (có ghi biên bản). Nếu thấy có biểu hiện tiêu cực thì xử lý theo quy định;</p>
    <p style="text-align: justify;">– Điểm chính thức của bài thi sau phúc khảo được Trưởng ban Phúc khảo trình Chủ tịch Hội đồng thi ký duyệt.</p>
  </div>
</div>

