<div class="row">
  <div class="col-md-12">
    <div class="block">
      <div class="block-title ui-sortable-handle">
        <h2><strong><%= remarking.subject_name %></strong>/ <%= remarking.result_mark %></h2>
      </div>
      <p><%= raw remarking.content %></p>
    </div>
  </div>
</div>
