<%= search_form_for @q, url: admins_style_majors_path, remote: true do |f| %>
  <div class="form-group">
    <div class="icon-addon addon-lg">
      <%= f.search_field :name_cont, class: "form-control input-sm",
        placeholder: t("enter_name_code_major") %>
      <label for="name_or_code_cont" class="fa fa-archive" rel="tooltip"></label>
    </div>
  </div>

  <%= f.button :submit, class: "btn btn-info" do %>
    <i class="fa fa-search" aria-hidden="true"></i>
    <%= t "filter" %>
  <% end %>
<% end %>
