$white: #fff;
$grey-light1: #eee;
$grey-light2: #ddd;
$gray: #e0e0e0;
$grey: #666;
$gray-light-1: #e2e2e2;
$gray-light-2: #f4f4f4;
$gray-light-3: #f2f2f2;
$gray-medium-1: #999;
$gray-dark-hard-1: #333;
$gray-dark-hard-2: #424242;
$light-blue-1: #2DCEFF;
$light-blue-2: #00B9F2;
$blue-super-light: #f7fdff;
$orange-light: #f7941d;
$orange-medium: #e38008;
$orange-dark: #b76706;
$red-light: #ff6666;
$light-yellow: #ffad33;
$accent-color: #B7E9FF;
$grey-light: rgba(0,0,0,0.5);
$light-blue: #008B8B;
$blue-light: #1bbae1;
$gray-light-3: #eaedf1;
$white-drak: rgba(255, 255, 255, 0.5);
$green-blue: #00b9f2;
$dark-blue: #0e7ccd;
$blue-lavender: #E6E6FA;
$light-green-6: #6ad2eb;
$dodger-blue: #1593b3;
$grey-light-1: rgba(0, 0, 0, 0.45);
$white-light: #f7f7f6;
$blue-light-7: #07313a;
$blue-light-8: #0099ff;
$black-light-2: #EAEDE9;
$blue-light-9: rgba(115, 152, 175, 0.89);
$dark-gray: rgba(0, 0, 0, 0.3);
$white-gray: #e9ebee;
$gray-strong: rgba(0, 0, 0, 0.5);
$blue-light-10: #001ba3;
$dark: #292929;
$light: #efefef;
$red: #D91E18;
$blue: #4183D7;
$green: #007e90;
$black-light: #88734d;
$green-light: #74edd7;
$green-light1: #363945;
$black: #000000;
$turquoise: #40e0d0;
$black-light-3: #9faab7;
$red-light1: #d63b3b;
$black-light1: #394263;
$gray80: #ccc;
$moderate-orange: #B97745;
$snow: #f9f9f9;
$dark-gray-light: #777;
$dark-gray-light-1: #dbe1e8;
$blue-light-11: #3498db;
$yellow-light-3: #a1a1a1;
$black-lighs: rgba(0, 0, 0, 0.7);
$green-sky: #68d084;
$blue-light-12: #edf2fa;
$blue-light-13: #3197EE;
$red-light2: #dd4b39;
$yellow-light: #edb10a;
$green-light-2: #65d074;
$blue-light-14: #337AB7;
$black-light-4: #e2e1e1;
$gray-bold: #888888;
$bgDefault: #3c9ce7;
$bgHighlight: #340e76;
$colDefault: #daecf0;
$colHighlight: #68f019;
$dropDown: false;
