@import 'colors.scss';

.form-custom {
  margin: 0 !important;
  padding: 5px 15px !important;
  border: none !important;
  border-bottom: 1px dashed $color_chetwode_blue_approx !important;
  overflow: hidden;
  .input-group-addon {
    border: none;
  }
  .input-custom {
    border: none !important;
    font-size: 13px !important;
    padding: 6px 8px !important;
    max-width: 100% !important;
    margin: 1px 0 !important;
    color: $gray-dark-hard-1 !important;
    box-shadow: none !important;
    background: transparent !important;
    line-height: 34px;
  }
  .input-disabled {
    cursor: default;
    background: transparent;
  }
  .input-addonn-custom {
    background-color: $white;
  }
}

.btn-custom {
  display: inline-block;
  width: 100px;
  height: 33px;
  border-radius: 4px !important;
  line-height: 10px !important;
}

@media all and (min-width: 768px) {
  .input-inline {
    display: inline-block;
    border: 1px dashed $color_chetwode_blue_approx !important;
  }
  .input-full {
    display: block;
    border: 1px dashed $color_chetwode_blue_approx !important;
  }
}

@media all and (max-width: 767px) {
  .input-inline {
    display: block;
    width: 100%;
  }
}

.switch {
  margin: 1px 0 !important;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    &:checked + span {
      background-color: $blue-light;
    }
    &:checked + span:after {
      left: 26px;
      width: 24px;
      top: 1px;
      bottom: 1px;
      border: none;
      -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
      box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
    }
  }
  span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 28px;
    background-color: $snow;
    border: 1px solid $grey-light2;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
    &:after {
      content: "";
      position: absolute;
      left: 7px;
      top: 7px;
      bottom: 7px;
      width: 12px;
      background-color: $white;
      border: 1px solid $grey-light2;
      border-radius: 24px;
      -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
      box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
      -webkit-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
    }
  }
  &.switch-primary {
    span {
      border-color: $blue-light;
    }
    input:checked + span {
      background-color: $blue-light;
    }
  }
}

.content-text {
  border: 1px dashed $color_chetwode_blue_approx !important;
  padding: 20px;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}
.icon-addon {
  position: relative;
  color: $dark;
  display: block;
}
.icon-addon:after,
  .icon-addon:before {
    display: table;
    content: " ";
}
.icon-addon:after {
  clear: both;
}
.icon-addon.addon-md .fa,
  .icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 12px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}
.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 12px;
  padding: 10px 0px 10px 30px;
}
.icon-addon.addon-lg .fa {
  font-size: 15px;
  margin-left: 0;
  left: 7px;
  top: 6px;
}
.icon-addon .form-control:focus + .fa,
  .icon-addon:hover .fa {
    color: $dodger-blue;
}
div.help-block.animation-slideDown {
  margin-left: 20px;
}
.form-danger {
  border: 1px dashed $red !important;
}
