@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';

#login-ajax {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.38);
  z-index: 11;
  overflow: auto;
  .login-title {
    position: relative;
    padding: 20px 10px;
    background: rgba(65, 92, 167, 0.7);
    h1 {
      margin: 15px 0;
      font-size: 26px;
      color: $white;
      small {
        font-size: 16px;
        color: $grey-light2;
      }
    }
    .close-form-login {
      position: absolute;
      top: 5px;
      right: 10px;
      color: $white;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .block {
    position: relative;
    padding: 20px 15px 1px;
    background-color: $white;
    .loading-ajax {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 20;
      background: image-url("loading.gif") no-repeat center center;
      background-size: 128px 128px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 5px 15px;
  }
  .form-control {
    font-size: 13px;
    padding: 6px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: $gray-dark-hard-1;
    box-shadow: none;
    background: transparent;
  }
  .remember-login {
    padding: 15px 30px 15px 15px;
  }
  .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    height: 32px;
    border-radius: 3px;
    font-weight: normal;
    text-transform: none;
    width: auto;
  }
  .btn-primary {
    background-color: $light-green-6;
    border: 1px solid $blue-light;
    color: $white;
    &:hover {
      background-color: $blue-light;
    }
    &:focus, &:active {
      background-color: $blue-light;
    }
  }
  .help-block {
    color: red !important;
  }
  .login-error, .registrations-error, .forgot-error {
    position: relative;
    span.close-error {
      cursor: pointer;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.switch {
  margin: 1px 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    &:checked + span {
      background-color: $grey-light1;
    }
    &:checked + span:after {
      left: 26px;
      width: 24px;
      top: 1px;
      bottom: 1px;
      border: none;
      -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
      box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
    }
  }
  span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 28px;
    background-color: $snow;
    border: 1px solid $grey-light2;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
    &:after {
      content: "";
      position: absolute;
      left: 7px;
      top: 7px;
      bottom: 7px;
      width: 12px;
      background-color: $white;
      border: 1px solid $grey-light2;
      border-radius: 24px;
      -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
      box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
      -webkit-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
    }
  }
  &.switch-primary {
    span {
      border-color: $blue-light;
    }
    input:checked + span {
      background-color: $blue-light;
    }
  }
}
