html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
#footer {
  width: 110%;
  height: 300px;
  background:
    linear-gradient(
      rgba(25, 82, 77, 0.45),
      rgba(21, 73, 191, 0.45)),
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}
.copyright {
  position: relative;
  top: -10px;
}
