<div id="list-messages">
  <% if @messages.present? %>
    <%= render partial: "messages/message", collection: @messages, as: :message %>
  <% else %>
    <div class="chat-message">
      <div class="chat-avatar">
        <img class="chat-avatar-img" src="/assets/supporter.png" alt="">
      </div>
      <div class="chat-content">
        <div class="chat-content-inner">
          <p class="chat-text"><%= t ".hello" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
